### use # to comment out the configure item
## using all 5 types of tags

### I/O ###
# input
raw_dir=data_seq_tag_pairs_bombing/test
model_dir=model_save_bombing/multi_bert
word_emb_dir=utils/glove.6B.100d.txt

# decode
decode_dir=model_out_bombing/multi_bert_predict.out
dset_dir=model_save_bombing/multi_bert.dset
load_model_dir=model_save_bombing/multi_bert.best.model

norm_word_emb=False
norm_char_emb=False
number_normalized=False
seg=True
word_emb_dim=100
#char_emb_dim=30

###TrainingSetting###
status=decode
